{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}JulMarp ERP{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="{% block body_class %}{% endblock %}">
    {% block header %}
        {% include "partials/header.html" %}
    {% endblock %}
    {% block navbar %}
        {% include "partials/navbar.html" %}
    {% endblock %}

    <main>
        {% block content %}{% endblock %}
    </main>

    {% include "partials/footer.html" %}
</body>
</html>
